* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
header {
    background-color: #ffffff;
    height: 84px;
}

header h1 {
    float: left;
    padding: 10px
}

nav {
    float:right;
    margin-bottom:0px;
    margin-top:20px;
}

nav a {
    padding:5px;
}
 

#colorstrip {
    width: 100%;
    margin: 0 auto;
    background: #f4c9d3;
    height: 2px;
}

#education {
    display: table;
    vertical-align: middle;
    width:10%;
    height:130px;
}

#awards {
      display: table;
    vertical-align: middle;
    width:10%;
    height:190px;
}

#media {
     display: table;
    vertical-align: middle;
    width:10%;
    height:570px;
}

#additional {
     display: table;
    vertical-align: middle;
    width:10%;
    height:290px;
}

#skills {
     display: table;
    vertical-align: middle;
    width:10%;
}

div img{
    float:left;
    padding-bottom:50px;
}


#text { display: table;
    vertical-align: middle;
    width:%;
}


article{
    padding:10px;
}


div p {
    font-family: arial;
    text-align:left;
    padding:8px;
    color:#60626B;
    font-size:14px;
}

div h2 {
    color:#404147;
    text-align:left;
    font-size:14px;
    font-family:helvetica;
    padding:8px;
}

li {
    color:#60626B;
    text-indent:50px;
    
}

ul {
overflow: auto;
}

footer {
    font-size 12px;
    padding: 0 10px 0 10px;
}