* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
header {
    background-color: #ffffff;
    color: #ffffff;
    height: 84px;
}

header h1 {
    float: left;
    padding: 10px
}

nav {
    float:right;
    margin-bottom:10px;
    margin-top:10px;
}

nav a {
    font-family: georgia serif;
    font-size: 16px;
    line-height: 24px;
    text-align:right; 
    color: #000000;
    padding:5px;
}
 
nav a:link {
    text-decoration: none;
}

nav a: visited {
    color: #787874;
}

nav a:hover {
    color:#787874;
}

#colorstrip {
    width: 100%;
    margin: 0 auto;
    background: #f4c9d3;
    height: 2px;
}

div img{
    float:left;
}

div {
        width: 500px;
        margin-left:100px;
}

article{
    padding:10px;
}

article em {
    font-family:georgia;
    font-size:14px;
    color:#404147;
    text-align:left;
    padding:8px
}

article p {
    font-family: arial;
    text-align:left;
    padding:8px;
    color:#60626B;
    font-size:14px;
}

article h2 {
    color:#404147;
    text-align:left;
    font-size:14px;
    font-family:helvetica;
    padding:8px;
}

li {
    color:#60626B;
    text-indent:50px;
    
}

ul {
overflow: auto;
}

footer {
    font-size 12px;
    padding: 0 10px 0 10px;
}